@model MasterDataManagement.Client.Models.SysOwnerDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SysOwnerDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentOwnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentOwnerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
